awscli==1.22.87
boto3==1.21.32
botocore==1.24.32
certifi==2021.10.8
colorama==0.4.3
cycler==0.11.0
docutils==0.15.2
fonttools==4.31.2
jmespath==1.0.0
joblib==1.1.0
kiwisolver==1.4.2
kneed==0.7.0
matplotlib==3.5.1
numpy==1.21.5
packaging==21.3
pandas==1.3.5
Pillow==9.1.0
pyaml==21.10.1
pyasn1==0.4.8
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2022.1
PyYAML==5.4.1
rsa==4.7.2
s3transfer==0.5.2
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
threadpoolctl==3.1.0
typing_extensions==4.1.1
urllib3==1.26.9
wincertstore==0.2
